<div class="d-flex flex-column layout-wrapper">
    <header-component></header-component>
    <div *ngIf="alert" [@fadeInOut] class="usa-alert usa-alert--{{alert.className}} fcl-alert">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">{{alert.heading}}</h4>
          <p class="usa-alert__text">
            {{alert.text}}
          </p>
        </div>
    </div>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
    <join-freemasonry></join-freemasonry>
    <footer-component></footer-component>
</div>
