.layout-wrapper {
    overflow-x: hidden;
}

.fcl-alert {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.dismiss-button {
    text-decoration: none;

    @media screen and (min-width: 480px) {
        position: fixed;
        top: 25px;
        right: 15px;
    }
}

@media screen and (min-width: 64em) {
    .scroll-padding {
        padding-top: 45px;
    }
}
