<div class="d-flex flex-column layout-wrapper">
    <header-component></header-component>
    <div *ngIf="alert" [@fadeInOut] class="usa-alert usa-alert--{{alert.className}} fcl-alert">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">{{alert.heading}}</h4>
          <p class="usa-alert__text">
            {{alert.text}}
          </p>
        </div>
    </div>
    <div class="p-4 d-flex align-items-center justify-content-between flex-wrap">
      <div class="d-flex align-items-center">
        <img class="d-none d-md-block" src="./assets/images/fcl-bell-color.png" style="width:100px; height:100px; margin-right:20px" alt="Pancakes"/>
        <div>
          <h2 class="text-color-blue">Join Us For A Forest City Table Lodge of Instruction</h2>
          <p class="usa-prose mb-0">
            Wednesday, June 18th | 6:00 PM at the Lyndhurst Masonic Temple
            <br />

          </p>
        </div>
      </div>
      <a target="_blank" href="./upcoming-events" class="usa-button usa-button--primary">RSVP</a>
    </div>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
    <join-freemasonry></join-freemasonry>
    <footer-component></footer-component>
</div>
