<div class="social-events">
    <div class="social-events-title bg-white pt-4 pb-3 centered">
        <h2>Forest City In The City</h2>
    </div>

    <div class="social-events-content bg-primary-lighter py-3">
        <div class="container">
            <div class="row centered">
                <div class="fs-3 text-align-center pb-4">"Forest City In The City" are Forest City Lodge No. 388's informal social gathering events.</div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 pb-3 centered">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header bg-primary-vivid text-white">
                            <h5 >Building Brotherhood</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Come join us for fun, fellowship, and refreshments.</p>
                            <p class="card-text">Come as you are, and get to know the Brethren of Forest City Lodge outside of the Lodge!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header bg-primary-vivid text-white">
                            <h5>All Are Welcome!</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">These events are open to the general public, not only Freemasons.</p>
                            <p class="card-text">Feel free to bring your friends, family, children, significant others...anyone!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header bg-primary-vivid text-white">
                            <h5 class="card-title">All Events Are Pay-your-own-way</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">These events are informal and not sponsored by the Lodge.</p>
                            <p class="card-text">Please RSVP so we can have an estimate of the number of attendees.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 mb-2">
                    <div class="grid-col-12 bg-primary-lighter pb-2">
                        <div class="centered">
                            <h3>Upcoming Social Outings</h3>
                        </div>
                    </div>

                    <div *ngFor="let event of events, let i = index" class="border-rounded mb-2">

                        <div *ngIf="!hasEventPassed(event.date)">
                            <div class="card text-center">
                                <div class="card-header">
                                  <div class="fw-bold fs-4">{{event.name}}</div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{event.description}}</h5>
                                  <h5>{{getDate(event.date)}}</h5>
                                  <p class="card-text"><span class="fw-bold">Location: </span>{{event.location}}, <a class="link-offset-2" [href]="event.locationUrl" target="_blank">{{ event.locationAddress }}</a></p>
                                  <div *ngIf="isRsvp(event)">
                                    <div class="mt-2">
                                        <button aria-controls="socialRsvpModal"
                                                class="btn btn-primary"
                                                (click)="setEventForRsvp(event)"
                                                data-bs-toggle="modal"
                                                data-bs-target="#socialRsvpModal">
                                                RSVP
                                        </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer text-muted">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fcl-social-rsvp [event]="event"></fcl-social-rsvp>
