<div class="modal fade"
    id="mitzvahRsvpModal"
    tabindex="-1"
    aria-labelledby="rsvpHeading"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="rsvpHeading">
                    RSVP to Forest City In The City
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="usa-prose">
                    <p id="rsvpDesc" class="text-center">RSVP for {{ event.name }}</p>
                    <p *ngIf="event.description" class="text-center">{{ event.description }}</p>
                    <p class="text-center">{{ cleanDate(event.date || '') | date:'fullDate' }}</p>
                    <form [formGroup]="mitzvahRsvpForm" (ngSubmit)="submitRsvp()">
                        <div class="mb-3">
                            <label for="first-name" class="usa-label required-field">First Name:</label>
                            <input id="first-name"
                                type="text"
                                class="form-control"
                                formControlName="firstName"
                                [class.is-invalid] = "mitzvahRsvpForm.get('firstName')?.invalid && mitzvahRsvpForm.get('firstName')?.dirty"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="usa-label required-field">Last Name:</label>
                            <input id="last-name"
                                type="text"
                                class="form-control"
                                formControlName="lastName"
                                [class.is-invalid] = "mitzvahRsvpForm.get('lastName')?.invalid && mitzvahRsvpForm.get('lastName')?.dirty"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="usa-label required-field">Email:</label>
                            <input id="email"
                                type="email"
                                class="form-control"
                                formControlName="email"
                                [class.is-invalid] = "mitzvahRsvpForm.get('email')?.invalid && mitzvahRsvpForm.get('email')?.dirty"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="numberOfAttendees" class="usa-label required-field">Number Of Attendees (including yourself):</label>
                            <select class="usa-select" formControlName="numberOfAttendees" id="numberOfAttendees">
                                <option value=1 selected>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="usa-button usa-button--primary" (click)="submitRsvp()" [disabled]="disableSubmit()" data-bs-dismiss="modal">
                    <span *ngIf="!isSending">Submit</span>
                    <span *ngIf="isSending">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending...
                    </span>
                </button>
                <button type="button" class="usa-button usa-button--secondary" (click)="clearForm()" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
