<div class="future-events">
    <div class="future-events-title bg-white pt-4 pb-3 centered">
        <h2 >Forest City Lodge Events</h2>
        <div class="fs-6">5516 Mayfield Rd, Lyndhurst, OH 44124</div>
    </div>
    <div class="future-events-content bg-gray-10 py-3">
        <h4 class="mb-3">Upcoming Events</h4>
        <h6 class="mb-3"><b>NOTICE:</b> Please add <i>forestcitylodgecontacts@gmail.com</i> to your email contacts to prevent confirmation emails from going to your spam folder.</h6>
        <div class="row">
            <div class="col-md-12 col-lg-8 mb-2">
                <div *ngFor="let event of events, let i = index" class="border-rounded mb-2">
                    <div *ngIf="!hasEventPassed(event.date)" class="d-flex flex-direction-row">
                        <div class="bg-gray-5 px-3 py-4 flex-shrink-0" style="width: 135px;">
                            <div class="fs-5">{{getDate(event.date)}}</div>
                            <div class="fs-6">{{getTime(event.date)}}</div>
                            <div class="fs-6">{{getTyled(event.tyled)}}</div>
                        </div>
                        <div class="d-flex bg-white p-3 pb-1 flex-grow-1 align-items-center justify-content-between flex-wrap">
                            <div class="mb-2">
                                <div class="fw-bold fs-4">
                                    {{event.name}}
                                </div>
                                <div *ngIf="event.description" class="fs-6">
                                    {{event.description}}
                                </div>
                                <div *ngIf="event.extraInfo" class="fs-6">
                                    <i>{{event.extraInfo}}</i>
                                </div>
                                <div class="future-events-list-item-location text-base d-flex flex-wrap">
                                    <div>
                                        <a class="link-primary" [href]="event.addressLink" target="_blank">{{ event.address }}</a>
                                    </div>
                                    <div *ngIf="getEarlyBirdOptions(event.earlyBirdOptions)">
                                        &nbsp;|&nbsp;{{ getEarlyBirdOptions(event.earlyBirdOptions) }}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isRsvp(event)">
                                <div class="rsvpButton">
                                    <button aria-controls="rsvpModal"
                                    class="usa-button usa-button--outline centered mb-2"
                                    [ngClass]="attendeeCount >= 170 ? 'disabled' : ''"
                                    (click)="setEventForRsvp(event)"
                                    data-bs-toggle="modal"
                                    data-bs-target="#rsvpModal">
                                        RSVP
                                    </button>
                                    <div class="text-base d-flex flex-wrap">
                                        <p>Closes {{ rsvpExpDate }} at {{ rsvpExpTime }}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="getRsvpLimitReached()">
                                <p>{{ rsvpLimitMsg }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="border-rounded p-3 bg-gray-5 mb-3">
                    <div class="fs-6 text-align-center mb-2">Early Bird Dinners are at 6:30pm, unless otherwise noted</div>
                    <div class="fs-6 text-align-center mb-2">Events without Early Bird Dinners will not have a checkbox when RSVPing</div>
                    <div class="fs-6 text-align-center mb-2">Please note: Reservations are required for all meals</div>
                    <div class="fs-6 text-align-center mb-2">Stated Meetings are at 7:30pm</div>
                </div>
                <div div class="border-rounded p-3 bg-gray-5">
                    <div div class="d-flex align-items-center justify-content-center">
                        <iframe class="border border-2 border-rounded mb-3" width="100%" height="200px" id="gmap_canvas" src="https://maps.google.com/maps?q=Lyndhurst%20Masonic%20Temple&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <div class="fs-5 fw-bold mb-2">Lyndhurst Masonic Temple Info</div>
                    <div class="fs-6 mb-2">Lyndhurst Masonic Temple is convieniently located on Mayfield Rd, between Brainard Rd and Richmond Rd.</div>
                    <div class="fs-6">Ample parking can be found onsite, and the building is handicap accessible.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<fcl-rsvp [event]="event"></fcl-rsvp>
