<div *ngIf="loading">
    <div style="text-align: center;">
        <img src="../../../../assets/images/gifs/blue-bar-spinner.gif" style="width:50px; height:50px;" alt="Loading"/>
      </div>
      <div style="text-align: center;">
        <span style="font-size: x-large; font-family: 'Times New Roman', Times, serif;">Loading . . .</span>
      </div>
</div>
<div *ngIf="!loading">
    <h1 class="text-center">{{header}}</h1>
        <div class="row">
            <div class="column" *ngFor="let item of items; index as i">
                <img [lightbox]="i"
                    [src]="item.data.thumb"
                    class="hover-shadow cursor" loading="lazy">
            </div>
        </div>
</div>
