.fclHomeWelcome {
    background: url(../../../assets/images/officer2021.png) no-repeat center;
    background-size: cover;
    height: 715px;
    position: relative;
}

.fclAgeBanner {
    background-color: darkblue;
    width: fit-content;
    opacity: 70%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fclAgeText {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centered {
    text-align: center;
}

.textColorBlue {
    color: #323779
}
