.fcl-home-welcome {
    background: url(../../../assets/images/officers_2022_2023.jpg) no-repeat center;
    background-size: cover;
    height: 785px;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 575px;
    }

    @media screen and (max-width: 425px) {
        height: 350px;
    }

    @media screen and (max-width: 375px) {
        height: 325px;
    }

    @media screen and (max-width: 320px) {
        height: 275px;
    }
}

.fcl-age-banner {
    width: fit-content;
    opacity: 75%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fcl-age-text {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centered {
    text-align: center;
}

.text-color-blue {

    color: #323779
}

.event-highlight-name {
    font-size: xxx-large;
}

.event-highlight-description {
    font-size: xxx-large;
    margin-top: -.25em;
}

.event-highlight-date {
    margin-bottom: 10%;
}
