.fcl-home-welcome {
    background: url(../../../assets/images/officer2021.jpg) no-repeat center;
    background-size: cover;
    height: 715px;
    position: relative;
}

.fcl-age-banner {
    width: fit-content;
    opacity: 75%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fcl-age-text {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centered {
    text-align: center;
}

.text-color-blue {

    color: #323779
}

.event-highlight-name {
    font-size: xxx-large;
}

.event-highlight-date {
    margin-bottom: 10%;
}
