<div class="row fcl-home-welcome"><
    <div class="fcl-age-banner bg-primary-vivid d-flex align-items-center justify-content-center">
        <div class="text-center text-white fcl-age-text">Celebrating {{ fclAge }} years of Masonic Pride</div>
    </div>
</div>
<div class="primary-content-container">
    <div class="primary-content bg-secondary-lightest">
        <div class="grid-row bg-primary-lighter py-4 px-4">
            <div class="grid-col-12 centered padding-x-12">
                <h2 class="text-color-blue">What is Freemasonry?</h2>
                <hr class="text-color-blue"/>
                <p class="usa-prose">
                    Freemasonry is the leading fraternal organization in the world.
                    Its origins are lost in the unrecorded history of medieval times, but it formally organized in London, England, in 1717.
                    Current worldwide membership totals over 3 million Freemasons, 1.1 million of whom are in North America.
                    With 70,000 Masons and 450 local Lodges, Ohio has one of the largest Masonic memberships of any state in the country.
                </p>
                <p class="usa-prose">
                    As a fraternal organization, Freemasonry unites men of good character who, though of different religious, ethnic or social backgrounds, share a belief in the fatherhood of God and the brotherhood of mankind.
                </p>
                <h4><a routerLink="/about-us" class="text-no-underline hover:text-underline">This Is Forest City Lodge</a></h4>
            </div>
        </div>
    </div>
</div>
<div *ngIf="events.length">
    <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let event of events, let i = index" class="carousel-item" [ngClass]="{'active': i === 0}" data-bs-interval="10000">
            <div class="d-flex bg-ink align-items-center justify-content-end flex-column" style="background-image: url('{{event.spotlightImage}}');background-size: cover;background-repeat: no-repeat;min-height: 50vw; background-position: bottom">
                <div class="event-highlight-name text-white centered">{{event.name}}</div>
                <div *ngIf="event.description" class="event-highlight-description text-white centered">{{event.description}}</div>
                <div class="event-highlight-date fs-4 text-white centered"> {{ event.date | date:'fullDate' }} {{ event.date | date:'shortTime' }} </div>
                <button class="usa-button usa-button--outline usa-button--inverse usa-button--unstyled fs-4 mb-3"
                    aria-controls="rsvpModal"
                    (click)="setDateForRsvp(event.date)"
                    data-bs-toggle="modal"
                    data-bs-target="#rsvpModal">Make your reservation today!</button>
                <fcl-rsvp [rsvpDate]="event.date" [rsvpName]="event.name"></fcl-rsvp>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
