<div class="modal fade"
    id="rsvpModal"
    tabindex="-1"
    aria-labelledby="rsvpHeading"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="rsvpHeading">
                    RSVP to Forest City Lodge
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="usa-prose">
                    <p id="rsvpDesc" class="text-center">RSVP for {{ event.name }}</p>
                    <p *ngIf="event.description" class="text-center">{{ event.description }}</p>
                    <p class="text-center">{{ event.date | date:'fullDate' }}</p>
                    <form [formGroup]="rsvpForm" (ngSubmit)="submitRsvp()">
                        <div class="mb-3">
                            <label for="first-name" class="usa-label required-field">First Name:</label>
                            <input id="first-name"
                                type="text"
                                class="form-control"
                                formControlName="firstName"
                                [class.is-invalid] = "rsvpForm.get('firstName')?.invalid && rsvpForm.get('firstName')?.dirty"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="usa-label required-field">Last Name:</label>
                            <input id="last-name"
                                type="text"
                                class="form-control"
                                formControlName="lastName"
                                [class.is-invalid] = "rsvpForm.get('lastName')?.invalid && rsvpForm.get('lastName')?.dirty"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="usa-label required-field">Email:</label>
                            <input id="email"
                                type="email"
                                class="form-control"
                                formControlName="email"
                                [class.is-invalid] = "rsvpForm.get('email')?.invalid && rsvpForm.get('email')?.dirty"
                                required>
                        </div>
                        <div *ngIf="event.earlyBirdOptions.cost" class="mb-3">
                            <div class="usa-checkbox">
                                <input id="early-bird-dinner"
                                    type="checkbox"
                                    class="usa-checkbox__input"
                                    formControlName="earlyBirdDinner"
                                    [checked]="earlyBirdChecked"
                                    (click)="toggleChecked()"
                                    value="earlyBirdChecked">
                                <label class="usa-checkbox__label" for="early-bird-dinner">Early Bird Dinner (6:30pm)</label>
                            </div>
                            <div *ngIf="earlyBirdChecked">
                                <label class="usa-label" for="numberOfMeals">Number of Meals:</label>
                                <select class="usa-select" formControlName="numberOfMeals" id="numberOfMeals">
                                    <option value=1 selected>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=7>7</option>
                                    <option value=8>8</option>
                                    <option value=9>9</option>
                                    <option value=10>10</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="displayMealChoices()" class="mb-3">
                            <fieldset class="usa-fieldset">
                                <legend class="usa-legend">Please choose a meal preference:</legend>
                                <div *ngIf="!displayMultipleMealChoices()">
                                    <div *ngFor="let choice of event.earlyBirdOptions.choices" class="usa-radio">
                                        <input class="usa-radio__input"
                                            id="{{ choice }}"
                                            type="radio"
                                            formControlName="mealChoice"
                                            value="{{ choice }}">
                                        <label class="usa-radio__label" for="{{ choice }}">{{ choice }}</label>
                                    </div>
                                </div>
                                <div *ngIf="displayMultipleMealChoices()">
                                    <label class="usa-label" for="numberOfMeat">Number of Prime Rib:</label>
                                    <input class="usa-input" type="number" min="0" id="numberOfMeat" formControlName="numberOfMeat">
                                    <label class="usa-label" for="numberOfFish">Number of Salmon:</label>
                                    <input class="usa-input" type="number" min="0" id="numberOfFish" formControlName="numberOfFish">
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="usa-button usa-button--primary" (click)="submitRsvp()" [disabled]="disableSubmit()" data-bs-dismiss="modal">
                    <span *ngIf="!disableButton">Submit</span>
                    <span *ngIf="disableButton">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending...
                    </span>
                </button>
                <button type="button" class="usa-button usa-button--secondary" (click)="clearForm()" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
