<footer class="usa-footer">
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap">
          <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
            <a class="usa-footer__primary-link" routerLink="/how-to-join">
              How To Join
            </a>
          </li>
          <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
            <a class="usa-footer__primary-link" href="../../../assets/pdf/FCL_Petition_-_20182.pdf" target="_blank">
              Our Petition
            </a>
          </li>
          <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
            <a class="usa-footer__primary-link" routerLink="/future-events">
              Upcoming Events
            </a>
          </li>
          <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
            <a class="usa-footer__primary-link" href="http://www.freemason.com" target="_blank" rel="noopener noreferrer">
                Grand Lodge of Ohio F&AMP;AM
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="../../../assets/images/fcl-bell-color.png" alt="Footer Logo"/>
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">Forest City Lodge #388</p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--facebook" href="https://www.facebook.com/lodge388/" target="_blank" rel="noopener noreferrer">
                  <span>Facebook</span>
                </a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/forestcitylodge" target="_blank" rel="noopener noreferrer">
                  <span>Twitter</span>
                </a>
              </div>
              <div class="grid-col-auto">
                <a class="usa-social-link usa-social-link--instagram" href="https://www.instagram.com/forestcitylodge388/" target="_blank" rel="noopener noreferrer">
                  <span>Instagram</span>
                </a>
              </div>
            </div>
            <h3 class="usa-footer__contact-heading">
                <a href="https://goo.gl/maps/W2FfTtZVSPdJ39zt6" target="_blank" class="text-no-underline hover:text-underline">Lyndhurst Masonic Center</a>
            </h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
                  <a href="https://goo.gl/maps/W2FfTtZVSPdJ39zt6" target="_blank">5516 Mayfield Rd, Lyndhurst, OH 44124</a>
                </div>
                <div class="grid-col-auto">
                  <p>webmaster@forestcity388.com</p>
                  <p>&copy;2021 Forest City Lodge. All Rights Reserved.</p>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
