<div>
    <div class="grid-col-12 padding-y-3">
        <div class="centered">
            <h2>Our 2021 - 2022 Officers</h2>
        </div>
    </div>
    <div class="grid-container">
        <ul class="usa-card-group">
            <div class="grid-col-12">
                <div *ngFor="let officer of officers">
                    <div class="grid-row d-flex justify-content-center">
                        <div class="tablet:grid-col-10 usa-card usa-card--flag">
                            <div class="usa-card__container fcl-card-container">
                                <header class="usa-card__header">
                                    <h2 class="usa-card__heading text-bold"> {{ officer.name }} </h2>
                                    <h3 class="usa-card__heading text-bold"> {{ officer.office }} </h3>
                                </header>
                                <div class="usa-card__media">
                                    <div  class="usa-card__img d-flex justify-content-center">
                                        <img class="officer-image" src="{{ officer.image }}">
                                    </div>
                                </div>
                                <div class="usa-card__body">
                                    <p> {{ officer.bio }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="usa-card tablet:grid-col-2 d-md-block d-none">
                            <div class="d-flex align-items-center justify-content-center officer-jewel-container">
                                <img class="officer-jewel" src="{{ officer.jewel }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
