.centered {
    text-align: center;
}

figure {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .timeline-wrapper {
        padding: 1px;
    }
    .timeline {
        position: relative;
        &-time {
            z-index: 1;
        }
        &:before,&:after {
            content: "";
            border-left: 4px dotted #775540;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
        }
    }
}
@media screen and (max-width: 767px) {
    .timeline {
        width: 100%;
    }
}

.return-to-top-btn {
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */

    @media screen and (min-width: 768px) {
        display: none; /* Hidden by default until scrolled */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
    }

    @media screen and (max-width: 767px) {
        margin: 15px;
        width: -webkit-fill-available;
    }
}
