<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended forestCityHeader bg-primary-light">
    <div class="usa-navbar d-flex align-items-center justify-content-between">
        <div class="flex-grow-1">
            <div class="usa-logo">
                <em class="usa-logo__text">
                    <a class="navbar-brand" href="/home" title="FCL 388" class="d-flex align-items-center">
                        <img alt="Forest City Lodge Bell Logo" id="navbar-image" src="../../../assets/images/fcl-bell-color.png" class="bell-logo me-3">
                        <h1 class="p-0 m-0 d-block d-sm-none primary-title-small text-white">Forest City Lodge No. 388</h1>
                        <h1 class="p-0 m-0 d-none d-sm-block primary-title text-white">Forest City Lodge No. 388</h1>
                    </a>
                </em>
            </div>
        </div>
        <button class="usa-menu-btn">
            <i class="fa fa-bars"></i>
            Menu
        </button>
    </div>
    <nav id="mainNavbar" aria-label="Primary Navigation" class="usa-nav bg-primary-light">
        <div class="usa-nav__inner">
            <button class="usa-nav__close">
                <img src="../../../assets/images/close.svg" role="img" alt="Close">
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="navSectionOne">
                        <span>About Forest City</span>
                    </button>
                    <div id="navSectionOne" class="usa-nav__submenu usa-megamenu" hidden>
                        <div class="grid-row grid-gap-4">
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/history">Our History</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/past-masters">Our Past Masters</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="golden-square-past-masters">Past Masters of Golden Square Lodge No. 679</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/our-officers">Our Current Officers</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/bulletin">Our Current Bulletin</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/past-bulletins">Our Past Bulletins</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/upcoming-events">Upcoming Events</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/social-events">Social Events</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/recent-events">Recent Events</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/about-us">About Us</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="../../../assets/pdf/GLO_Petition_for_Degrees.pdf" target="_blank">Our Petition</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="navSectionTwo">
                      <span>Masonic Links</span>
                    </button>
                    <div id="navSectionTwo" class="usa-nav__submenu usa-megamenu" hidden>
                        <div class="grid-row grid-gap-4">
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.freemason.com" target="_blank" rel="noopener noreferrer">Grand Lodge of Ohio F&AMP;AM</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="https://www.freemason.com/grand-lodge-of-ohio-member-center/" target="_blank" rel="noopener noreferrer">Ohio Grand View</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://tremendous22nd.org/" target="_blank" rel="noopener noreferrer">22nd Masonic District of Ohio</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.ohioram.org" target="_blank" rel="noopener noreferrer">Grand Chapter Royal Arch Masons of Ohio</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="https://scottishritenmj.org/" target="_blank" rel="noopener noreferrer">Ancient Accepted Scottish Rite, Northern Masonic Jurisdiction</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.aasrcleveland.org" target="_blank" rel="noopener noreferrer">Ancient Accepted Scottish Rite, Valley of Cleveland</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.uhlodge.org/" target="_blank" rel="noopener noreferrer">University Heights Lodge No. 738</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/" target="_blank" rel="noopener noreferrer">East Gate Lodge No. 796</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/windermere/" target="_blank" rel="noopener noreferrer">Order of the Eastern Star, Windermere Chapter No. 388</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/heights206/" target="_blank" rel="noopener noreferrer">Heights Chapter No. 206, R.A.M.</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/woodward118/" target="_blank" rel="noopener noreferrer">Woodward Council No. 118, R.&.S.M</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/coeurdelion/" target="_blank" rel="noopener noreferrer">Coeur De Lion Commandery No. 64, K.T.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/how-to-join" class="usa-nav__link">Join Freemasonry</a>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/upcoming-events" class="usa-nav__link">Upcoming Events</a>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/social-events" class="usa-nav__link">Social Events</a>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/recent-events" class="usa-nav__link">Recent Events</a>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/image-gallery" class="usa-nav__link">Image Gallery</a>
                </li>
                <li class="usa-nav__primary-item">
                    <a routerLink="/contact-us" class="usa-nav__link">Contact Us</a>
                </li>
            </ul>
            <!--Top right side of header-->
            <div class="usa-nav__secondary">
                <ul class="usa-nav__secondary-links">
                    <li class="usa-nav__secondary-item">
                        <a class="me-1" href="https://www.facebook.com/lodge388/" target="_blank" rel="noopener noreferrer">
                            <img id="facebook-link" alt="Link to Facebook" src="../../../assets/images/facebook_icon.svg"/>
                        </a>
                        <a class="me-1" href="https://twitter.com/forestcitylodge" target="_blank" rel="noopener noreferrer">
                            <img id="twitter-link" alt="Link to Twitter" src="../../../assets/images/twitter_icon.svg"/>
                        </a>
                        <a href="https://www.instagram.com/forestcitylodge388/" target="_blank" rel="noopener noreferrer">
                            <img id="instagram-link" alt="Link to Instagram" src="../../../assets/images/instagram_icon.svg"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
