img {
    height: 35px;
    width: 35px;
}

.header-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.forestCityHeader {
    width: 100% !important;
}

.primary-title {
    font-size: 36px;

    &-small {
        font-size: 20px;
    }
}
