<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended forestCityHeader">
    <div class="usa-navbar">
        <div class="">
            <div class="usa-logo">
                <em class="usa-logo__text">
                    <a class="navbar-brand" href="/home" title="FCL 388">
                        <img id="navbar-image" src="../../../assets/images/brotherhood_pin.jpg" class="d-inline-block align-top">
                        Forest City Lodge #388
                    </a>
                </em>
            </div>
        </div>
        <button class="usa-menu-btn">
            <i class="fa fa-bars"></i>
            Menu
        </button>
    </div>
    <nav aria-label="Primary Navigation" class="usa-nav">
        <div class="usa-nav__inner">
            <button class="usa-nav__close">
                <img src="../../../assets/imported/uswds/img/close.svg" role="img" alt="Close"/>
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="navSectionOne">
                        <span>About Forest City Lodge</span>
                    </button>
                    <div id="navSectionOne" class="usa-nav__submenu usa-megamenu" hidden>
                        <div class="grid-row grid-gap-4">
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a routerLink="/history">Our History</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Our Past Masters</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Our Current Officers</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Our Calendar</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Our Current Bulletin</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="../../../assets/pdf/FCL_Petition_-_20182.pdf" target="_blank">Our Petition</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Things 1</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Things 2</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Things 3</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="usa-nav__primary-item">
                    <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="navSectionTwo">
                      <span>Masonic Links</span>
                    </button>
                    <div id="navSectionTwo" class="usa-nav__submenu usa-megamenu" hidden>
                        <div class="grid-row grid-gap-4">
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.freemason.com" target="_blank" rel="noopener noreferrer">Grand Lodge of Ohio F&AMP;AM</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.ohiodistrict22.org" target="_blank" rel="noopener noreferrer">22nd Masonic District of Ohio</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.ohioram.org" target="_blank" rel="noopener noreferrer">Grand Chapter Royal Arch Masons of Ohio</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="https://scottishritenmj.org/" target="_blank" rel="noopener noreferrer">Ancient Accepted Scottish Rite, Northern Masonic Jurisdiction</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.aasrcleveland.org" target="_blank" rel="noopener noreferrer">Ancient Accepted Scottish Rite, Valley of Cleveland</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="#">Another Link Again</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.uhlodge.org/" target="_blank" rel="noopener noreferrer">University Heights Lodge #738</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/" target="_blank" rel="noopener noreferrer">Eastgate Lodge #796</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/windermere/" target="_blank" rel="noopener noreferrer">Order of the Eastern Star, Windermere Chapter #388</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="usa-col">
                                <ul class="usa-nav__submenu-list">
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/heights206/" target="_blank" rel="noopener noreferrer">Heights Chapter #206, R.A.M.</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/woodward118/" target="_blank" rel="noopener noreferrer">Woodward Council #118, R.&.S.M</a>
                                    </li>
                                    <li class="usa-nav__submenu-item">
                                        <a href="http://www.eastgate796.com/coeurdelion/" target="_blank" rel="noopener noreferrer">Coeur De Lion Commandery #64, K.T.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="usa-nav__primary-item">
                    <a href="javascript:void(0)" class="usa-nav__link">Join Freemasonry</a>
                </li>
                <li class="usa-nav__primary-item" *ngIf="isAuthenticated">
                    <a href="#">Member's Area</a>
                </li>
            </ul>
            <!-- Top right side of header -->
            <div class="usa-nav__secondary">
                <ul class="usa-nav__secondary-links">
                    <li class="usa-nav__secondary-item">
                        <a href="/login">Login</a>
                     </li>
                     <!-- todo after getting login /auth completed, update these to display "Hello Brother <name> | Logout" -->
                     <li class="usa-nav__secondary-item">
                        <a href="/register">Register</a>
                    </li>
                    <li class="usa-nav__secondary-item">
                        <a href="https://www.facebook.com/lodge388/" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/facebook_icon.svg"/>
                        </a>
                    </li>
                    <li class="usa-nav__secondary-item">
                        <a href="https://twitter.com/forestcitylodge" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/twitter_icon.svg"/>
                        </a>
                    </li>
                    <li class="usa-nav__secondary-item">
                        <a href="https://www.instagram.com/forestcitylodge388/" target="_blank" rel="noopener noreferrer">
                            <img src="../../../assets/images/instagram_icon.svg"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
