<div class="wrap">
    <div class="margin-y-5 container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="https://storage.googleapis.com/temporary-events/2022_OBP_Toolkit/OBP_2022_Social_Facebook.jpg">
            </div>
            <div class="col-lg-6 col-sm-12 padding-x-4">
                <h2 class="centered mb-2">
                    Brethren of Forest City Lodge
                </h2>
                <p>This year is the first year Forest City Lodge is supporting Operation Backpack, a campaign to ensure local children in need are best equipped to return to school.</p>
                <p>Sadly, many children return to school without the basic supplies they need for a successful school year.</p>
                <p>Through Operation Backpack, we can help position these kids for academic success in the coming year.</p>
            </div>
        </div>
        <hr style="height:2px; border-width:0; color: darkblue; background-color:darkblue">
        <div class="row">
            <div class="col-12">
                <h3 class="centered">
                    How can Forest City Lodge help?
                </h3>
                <div class="container">
                    <p class="margin-top-1"><a style="cursor: pointer;" class="btn-link" (click)="viewListPdf()">Click here</a> for a list of school supplies that are sorely needed.</p>
                    <p>We are asking each member who is able to provide a backpack filled with supplies on the list.</p>
                    <p>You may also purchase what you can, and we will distribute them amongst backpacks to make a full package.</p>
                    <p>We will hold drop-off days at the Lyndhurst Masonic Temple on <b>Wednesday, July 6th</b> and <b>Wednesday, July 20th</b>. Additional dates may be added as well.</p>
                    <p>Alternatively, you can contribute through either the Amazon wishlist (<a href="https://www.amazon.com/registries/custom/L5NWUFZJPLOG/guest-view" target="_blank">available here</a>) or the Target wishlist (<a href="https://www.target.com/gift-registry/gift/fcl-388-obp" target="_blank">available here</a>).</p>
                    <p>If shopping online, all you need to do is select the items and pay at check out. The items will be shipped to the Junior Steward's home where Officers will collect and pack the items for you.</p>
                    <p><b>On August 5th</b>, Forest City Lodge will donate the backpacks at our nearest Volunteers of America drop-off location.</p>
                    <p><b>This campaign runs until August 8th, 2022</b>. To ensure we are able to collect and donate the Backpacks timely, please complete your online orders (if applicable) <b>no later than August 1st.</b></p>
                </div>
            </div>
        </div>
        <hr style="height:2px; border-width:0; color: darkblue; background-color:darkblue">
        <div class="row">
            <div class="col-12">
                <h3 class="centered">The Details</h3>
                <ul class="container justify-list margin-top-1">
                    <li class="no-bullets"><b>Drop-Off Details</b></li>
                    <ul>
                        <li><b>Drop-Off Dates:</b> Wednesday, July 6th and Wednesday, July 20th, with additional dates TBD</li>
                        <li><b>Drop-Off Times:</b> 7:30 PM - 8:30 PM</li>
                        <li><b>Drop-Off Location:</b> Lyndhurst Masonic Center, 5516 Mayfield Road, Lyndhurst, Ohio 44124</li>
                    </ul>

                    <li class="no-bullets"><b>Online Shopping Details</b></li>
                    <ul>
                        <li><b>Amazon:</b> <a href="https://www.amazon.com/registries/custom/L5NWUFZJPLOG/guest-view" target="_blank"> Amazon Wishlist</a></li>
                        <li><b>Target:</b> <a href="https://www.target.com/gift-registry/gift/fcl-388-obp" target="_blank"> Target Wishlist</a></li>
                        <li><b>Deadline for online shopping:</b> August 1st, 2022</li>
                    </ul>
                </ul>
                <h4 class="centered">Thank you for supporting this excellent cause. Please feel free to contact us with any questions!</h4>
            </div>
        </div>
    </div>
</div>
