<div class="bg-primary-lighter pt-2 pb-2">
    <div class="grid-col-12 centered">
        <h2 >Past Masters of Forest City Lodge No. 388</h2>
    </div>
</div>
<br>
<div class="usa-card-group grid-col pmContainer">
    <div *ngFor="let master of pageOfItems">
        <div class="grid-col usa-card">
            <div class="usa-card__container fclCardContainer">
                <header class="usa-card__header bg-primary-lighter fclCardHeader">
                    <h2 class="usa-card__heading centered text-bold"> {{ master.name }} </h2>
                </header>
                <div class="fclCardHeaderLine"></div>
                <div class="centered">
                    <div class="fclImageContainer">
                        <img src="{{ master.imgUrl }}"/>
                    </div>
                    <h4> {{ master.term }} </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<jw-pagination [items]="pastMastersList" (changePage)="onChangePage($event)"></jw-pagination>
