<div class="grid-container padding-y-4">
    <div class="row">
        <div class="grid-col-4">
            <img class="fcl-bell-image" src="../../../assets/images/fcl-bell-color.png">
        </div>
        <div class="grid-col-8">
            <p>
                Forest City Lodge No. 388 is one of Northeast Ohio’s oldest, largest, and most active Masonic lodges.
            </p>
            <p>
                Located in Lyndhurst, a suburb of Cleveland, Ohio at the Lyndhurst Masonic Center, Forest City Lodge No. 388 was chartered October 16th, 1867.
            </p>
            <p>
                We meet on the 1st and 3rd Wednesdays of the month, with the exception of July and August.
            </p>
            <p>
                We invite you to explore our website and learn more about the rich history of our great fraternity.  We are here to help if you have any questions!
            </p>
        </div>
    </div>
</div>
