<div class="row usa-prose">
    <div class="bg-primary-dark text-white col-md-6 col-xs-12">
        <div class="margin-y-5 grid-container ">
            <h3 class="centered mb-2">How to Join</h3>
            <p class="centered">
                To become an Ohio Freemason, you must first meet the following criteria:
            </p>
            <ul>
                <li>
                    Be a male at least 19 years old
                </li>
                <li>
                    Be an Ohio resident for at least six months
                </li>
                <li>
                    Be able to read and write English
                </li>
                <li>
                    Be prepared to profess a belief in Deity
                </li>
                <li>
                    Be of good reputation as a man of honor and integrity
                </li>
                <li>
                    Be recommended by two members of the lodge you wish to join
                </li>
                <li>
                    Be prepared to obtain a background check if requested
                </li>
            </ul>
            <p class="centered">
                Ready to take the next step?
            </p>
            <div class="centered">
                <a routerLink="/contact-us" class="usa-button usa-button--accent-warm centered">
                    <span class="text-white">START YOUR JOURNEY</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-ink text-white col-md-6 col-xs-12">
        <div class="centered margin-y-5 grid-container">
            <h3 class="mb-2">Petition Process</h3>
            <p>
                If you are ready to start your journey as a Freemason, reach out through our <a routerLink="/contact-us">online form</a>.
            </p>
            <p>
                Your inquiry will be referred to our secretary. You will be contacted to schedule a time meet with the brothers of Forest City and learn more about our fraternity.
            </p>
            <p>
                What happens next? Learn more about the next steps in becoming an Ohio Freemason.
            </p>
            <a target="_blank" href="https://www.freemason.com/petition-process/" class="usa-button usa-button--accent-warm centered" rel="noopener noreferrer">
                <span class="text-white">LEARN MORE</span>
            </a>
        </div>
    </div>
</div>
