<div class="row usa-prose">
    <div class="joinBackground text-white col-md-6 col-xs-12 col-xs-12">
        <div class="margin-y-5 grid-container">
            <h3 class="centered">How to Join</h3>
            <p class="centered">
                To become an Ohio Freemason, you must first meet the following criteria:
            </p>
            <ul>
                <li>
                    Be a male at least 19 years old
                </li>
                <li>
                    Be an Ohio resident for at least six months
                </li>
                <li>
                    Be able to read and write English
                </li>
                <li>
                    Be prepared to profess a belief in Deity
                </li>
                <li>
                    Be of good reputation as a man of honor and integrity
                </li>
                <li>
                    Be recommended by two members of the lodge you wish to join
                </li>
                <li>
                    Be prepared to obtain a background check if requested
                </li>
            </ul>
            <p class="centered">
                Ready to take the next step?
            </p>
            <div class="centered">
                <button class="usa-button usa-button--accent-warm centered">
                    <span class="textWhite">START YOUR JOURNEY</span>
                </button>
            </div>
        </div>
    </div>
    <div class="petitionBackground text-white col-md-6 col-xs-12">
        <div class="centered margin-y-5 grid-container">
            <h3>Petition Process</h3>
            <p>
                If you are ready to start your journey as a Freemason, submit your contact information in our online form.
            </p>
            <p>
                Your inquiry will be referred to a lodge or district in your area.
            </p>
            <p>
                If you know of a particular lodge you want to join, please include that in the box asking your reason for interest.
            </p>
            <p>
                What happens next? Learn more about the next steps in becoming an Ohio Freemason.
            </p>
            <button class="usa-button usa-button--accent-warm centered">
                <span class="textWhite">LEARN MORE</span>
            </button>
        </div>
    </div>
</div>
