

<div class="grid-col-12 padding-y-3 bg-primary-lighter">
    <div class="centered">
        <h2>Past Masters of Golden Square Lodge No. 679</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-9 text-center my-3">
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <tr>
                        <th>Worshipful Master</th>
                        <th>Year</th>
                    </tr>
                    <tbody *ngFor="let master of goldenSquarePMList; index as i">
                        <tr [ngClass]="{'table-info': i%2==0, 'table-light': i%2==1}">
                            <td>{{master.name}}</td>
                            <td>{{master.term}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
