<div class="wrap">
    <div class="grid-row">
        <div *ngFor="let album of pageOfItems; index as i">
            <div class="grid-col-3">
                <div class="tile" (click)="goToCollection( album.albumName )">
                    <img src="https://storage.googleapis.com/forest-city-website-images/{{album.albumName}}/_cover.jpg"/>
                    <div class="text">
                        <h1>{{ album.title }}</h1>
                        <h2 class="animate-text">{{album.subtitle}}</h2>
                        <p class="animate-text">{{album.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jw-img-pagination [items]="albums" (changePage)="onChangePage($event)"></jw-img-pagination>
