<div class="grid-container">
    <div class="grid-row">
        <div class="grid-col-12 centered padding-top-1">
            <h2>Contact the Brethren of Forest City Lodge</h2>
        </div>
        <!-- Left Half (Form) -->
        <div class="desktop:grid-col-6 mobile-lg:grid-col-auto">
            <form class="padding-bottom-4 margin-y-6 me-3 card card-body bg-light" [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                <label for="firstName" class="usa-label required-field">First Name:</label>
                <input id="firstName"
                    type="text"
                    class="usa-input form-control"
                    formControlName="firstName"
                    [class.is-invalid] = "contactUsForm.get('firstName')?.invalid && contactUsForm.get('firstName')?.dirty"
                    required>
                <label for="lastName" class="usa-label required-field">Last Name:</label>
                <input id="lastName"
                    type="text"
                    class="usa-input form-control"
                    formControlName="lastName"
                    [class.is-invalid] = "contactUsForm.get('lastName')?.invalid && contactUsForm.get('lastName')?.dirty"
                    required>
                <label for="email" class="usa-label required-field">Email Address:</label>
                <input id="email"
                    type="email"
                    class="usa-input form-control"
                    formControlName="email"
                    [class.is-invalid] = "contactUsForm.get('email')?.invalid && contactUsForm.get('email')?.dirty"
                    required>
                <label for="phoneNumber" class="usa-label">Phone Number (Optional):</label>
                <input id="phoneNumber"
                    type="tel"
                    class="usa-input form-control"
                    formControlName="phoneNumber"
                    [class.is-invalid] = "contactUsForm.get('phoneNumber')?.invalid && contactUsForm.get('phoneNumber')?.dirty">
                <label for="message" class="usa-label required-field">Message For Us:</label>
                <textarea id="message"
                    type="text"
                    rows="5"
                    cols="50"
                    class="form-control usa-textarea"
                    formControlName="message"
                    [class.is-invalid] = "contactUsForm.get('message')?.invalid && contactUsForm.get('message')?.dirty"
                    required
                >
                </textarea>
                <br>
                <button type="submit" class="usa-button usa-button--primary" [disabled]="!contactUsForm.valid || disableButton">
                    <span *ngIf="!disableButton">Submit</span>
                    <span *ngIf="disableButton">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending...
                    </span>
                </button>
            </form>
        </div>
        <!-- Right Half -->
        <div class="desktop:grid-col-6 mobile-lg:grid-col-auto mt-5">
          <section class="usa-graphic-list">
            <div class="usa-graphic-list__row">

              <div class="usa-media-block">
                <div class="usa-media-block__img circle-6 bg-primary-light display-flex flex-row flex-align-center flex-justify-center text-white">
                  <img src="../../../assets/images/icons/help_outline.svg" class="img-fluid rounded-start" alt="General Questions">
                </div>
                <div class="usa-media-block__body">
                  <h4>Have Questions?</h4>
                  <p>If you have general questions about our Lodge or Freemasonry, please fill out the form and we will reach out to you as soon as we can.</p>
                </div>
              </div>

              <div class="usa-media-block">
                <div class="usa-media-block__img circle-6 bg-primary-light display-flex flex-row flex-align-center flex-justify-center text-white">
                  <img src="../../../assets/images/icons/groups.svg" class="img-fluid rounded-start" alt="Meeting Info">
                </div>
                <div class="usa-media-block__body">
                  <h4>Come Meet Us</h4>
                  <p>We meet on the 1st and 3rd Wednesdays of the month at 7:30pm, with the exception of July and August.</p>
                </div>
              </div>

              <div class="usa-media-block">
                <div class="usa-media-block__img circle-6 bg-primary-light display-flex flex-row flex-align-center flex-justify-center text-white">
                  <img src="../../../assets/images/icons/restaurant.svg" class="img-fluid rounded-start" alt="Meal Info">
                </div>
                <div class="usa-media-block__body">
                  <h4>Eat With Us</h4>
                  <p>Before our meetings, we usually have a meal, at around 6:30pm. If you would like to join us for a meal to meet and eat with the brethren, please RSVP on our <a routerLink="../upcoming-events">Upcoming Events page.</a></p>
                </div>
              </div>

              <div class="usa-media-block">
                <div class="usa-media-block__img circle-6 bg-primary-light display-flex flex-row flex-align-center flex-justify-center text-white">
                  <img src="../../../assets/images/icons/event.svg" class="img-fluid rounded-start" alt="Event Info">
                </div>
                <div class="usa-media-block__body">
                  <h4>Schedule A Visit</h4>
                  <p>If you would like to view our upcoming events and RSVP for an event/dinner, please go to our <a routerLink="../upcoming-events">Upcoming Events page</a>.</p>
                </div>
              </div>

            </div>
          </section>
        </div>

        <!-- <div class="desktop:grid-col-6 mobile-lg:grid-col-auto mt-5">
            <div class="ms-3">
                <div class="grid-row">

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0 align-items-center">
                          <div class="col-md-4 text-center">
                            <img src="../../../assets/images/icons/help_outline.svg" class="img-fluid rounded-start" alt="General Questions">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Have Questions?</h5>
                              <p class="card-text">If you have general questions about our Lodge or Freemasonry, please fill out the form and we will reach out to you as soon as we can.</p>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0 align-items-center">
                          <div class="col-md-4 text-center">
                            <img src="../../../assets/images/icons/groups.svg" class="img-fluid rounded-start" alt="General Questions">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Come Meet Us</h5>
                              <p class="card-text">We meet on the 1st and 3rd Wednesdays of the month at 7:30pm, with the exception of July and August.</p>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0 align-items-center">
                          <div class="col-md-4 text-center">
                            <img src="../../../assets/images/icons/restaurant.svg" class="img-fluid rounded-start" alt="General Questions">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Eat With Us</h5>
                              <p class="card-text">Before our meetings, we usually have a meal, at around 6:30pm. If you would like to join us for a meal to meet and eat with the brethren, please RSVP on our <a routerLink="../upcoming-events">Upcoming Events page.</a></p>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0 align-items-center">
                          <div class="col-md-4 text-center">
                            <img src="../../../assets/images/icons/event.svg" class="img-fluid rounded-start" alt="General Questions">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Schedule a Visit</h5>
                              <p class="card-text">If you would like to view our upcoming events and RSVP for an event/dinner, please go to our <a routerLink="../upcoming-events">Upcoming Events page</a>.</p>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
</div>
