/* You can add global styles to this file, and also import other style files */

$theme-image-path: '~uswds/src/img';

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~uswds/dist/css/uswds.min.css';
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import '~@angular/cdk/overlay-prebuilt.css';

.centered {
    text-align: center;
}

@font-face {
    font-family: "Fredericka";
    src: local("Fredericka"), url(./assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Cinzel";
    src: local("Cinzel"), url(./assets/fonts/Cinzel/static/Cinzel-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Aref Ruquaa";
    src: local("Aref Ruquaa"), url(./assets/fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Crimson Text";
    src: local("Crimson Text") url(./assets/fonts/Crimson_Text/CrimsonText-SemiBold.ttf) format("truetype");
}

h1,h2,h3 {
    font-family: 'Crimson Text' !important;
}
h1,h2,h3 {
    padding:0;
    margin:0;
}
*:focus {
    outline: none ! important;
}
input:focus {
    outline: #0076d6 dotted 1px ! important;
}
button:focus {
    outline: #0076d6 dotted 1px ! important;
}
a:focus {
    outline: #0076d6 dotted 1px ! important;
}
.bg-secondary-lightest {
    background-color: lighten(#f8dfe2, 5%);
}

@media screen and (min-width: 1024px) {
    .primary-content-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .primary-content {
            margin: 70px;
            max-width: 1024px;
            border: 2px #005ea2 solid;
            border-radius: 4px;

        }
    }
}

.border-rounded {
    border-radius: 4px;
}

.required-field:after {
    content:" *";
    color: red;
}
