<div class="grid-container padding-y-4">
    <div class="row">
        <div class="desktop:grid-col-6">
            <h2 class="text-center">Why Join?</h2>
            <p class="usa-paragraph text-center measure-none mb-5">
                By becoming an Ohio Freemason, you join a thriving fraternity committed to finding and uniting men eager to improve themselves by doing good in the world.
                Men who strive to live each day by the values of honor, integrity, equality and brotherhood.
                Men of respect, kindness and tolerance, fully accepting of our brothers’ religion, race, age, status or culture.
                Bound as one in the continual pursuit of light and knowledge to be the best version of ourselves.
                All this with men, once strangers, now brothers.
            </p>
        </div>
        <div class="desktop:grid-col-6 recruitment-video-wrapper d-flex justify-content-center">
            <iframe width="500"
                height="282"
                src="https://www.youtube.com/embed/9a2cTxyAaMc"
                title="Even Better: More than a man. A Mason."
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="row padding-top-4">
        <div class="desktop:grid-col-12">
            <h2 class="text-center">Your Journey as a Freemason</h2>
            <p class="usa-paragraph text-center measure-none">
                When you become a Freemason, you commit to a lifelong obligation to uphold our timeless principles of brotherly love, relief and truth.
                As you progress through the three degrees of Freemasonry - Entered Apprentice, Fellow Craft and Master Mason - you will explore Masonic history and philosophy and learn lessons of self-improvement at each stage.
                You will share these experiences with brothers who share your values and your journey.
            </p>
        </div>
    </div>
    <div class="row padding-top-4 text-center">
        <div class="desktop:grid-col-12">
            <img src="../../../assets/images/OhioFreemasonry-Mark-Blue_2_.png">
        </div>
    </div>
</div>
